.answer {
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 30px;
    background-color:black;
    color: white;
    
}

#go {
    width: 90px;
    margin: 0 auto;
}
    

#guess {
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
    margin: 0 auto;
    width: 700px;
    font-family: 'Piedra', cursive;
}

#msg {
    color: white;
    font-family: 'VT323', monospace;
    text-align: center;
    
}

button{
    font-family: 'VT323', monospace;
    font-size: 20px;
    width: 45px;
    margin: 0 auto;

}

img{
    align-content: center;
    display: flex;
    margin: 0 auto;
}


body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: black; 
    align-content: center;
}
.table {
        display: flex;
        justify-content: center;
        margin: 0 auto;
               
    
}

#textwindow {
    display:flex;
    margin: 0 auto;
}


    
}
#write {
    width: 900px;
    justify-content: center;
    align-content: center;
    margin: 5px 50px 5px;
    padding: 5px;
    height: 30px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background:black;
    color: white;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#keyboard button {
    margin: 5px;
    padding: 10px;
    box-shadow: grey 1px 2px 1px;
    
}

#keyboard button:hover {
    box-shadow: rgba(255, 0, 0, 0.527) 2px 3px 2px;
    border-color: rgba(253, 253, 213, 0.747);
    position: relative;
    top: 1px;
    left: 1px;
}
        
#overlay {
    width: 400px;
    height: 324px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    flex-direction: column;
    margin: 30px auto;     
}
#overlay h1 {
    font-size: 30px;
}

